

    <table>
        <form action="">
            <tr>
                
                <td><input type="email" placeholder="email" name="email"></td>
                <td><input type="password" placeholder="password" name="password"></td>
                
            </tr>
        </form>
    </table>