
    <table>
        <form action="">
            <tr>
                <td><input type="text" placeholder="username" name="username"></td>
                </tr>
                <tr>
                <td><input type="email" placeholder="email" name="email"></td>
           
    
            </tr>
            <tr>
                <td><input type="password" placeholder="password" name="password"></td>
                </tr>
                <tr>                <td><input type="text" placeholder="contact" name="contact"></td></tr>

            
                <tr>
                    <td>
                        <label>Gender</label>
                    </td>
                    <td><input  type="radio" id="male" name="gender" value="male">
                        <label  for="male">Male</label>
                        <input type="radio" id="female" name="gender" value="female">
                        <label  for="female">Female</label>
                         
                    </td>
                </tr>
        
                <tr>
                    <td>
                        <label>Select city</label>
                    </td>
                    <td>
                        <select  id="subject" name="subject">
                            <option value="">Select sity</option>
                            <option  value="rewa">rewa</option>
                            <option value="satna">satna</option>
                            <option value="jabalpur">jabalpur</option>
                            <option value="indore">indore</option>
                        </select>
                        
                    </td>
                </tr>
        
                <tr>
                    <td>
                        <label>Address</label>
                    </td>
                    <td><textarea  name="address" placeholder="Enter Address"></textarea>
                    
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td><input  type="submit" value="Register">
                        
                    </td>
                </tr>
        </form>
    </table>